*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: rgb(2,0,36);
  background: linear-gradient(180deg, rgb(95, 93, 219) 10%,  rgb(6, 94, 111) 100%);
}

.App {
  text-align: center;
  height: 100vh;
  overflow-y: hidden;


  
  font-family: sans-serif;
  padding: 30px;
}

.heading {
  font-size: 50px;
  color: #fff;}

.score {
  height: 20vh;
  display: flex;
  justify-content: center;
  gap: 100px;
  align-items: center;
  color: #fff;
}

.choices {
  height: 25vh;
  display: flex;
  justify-content: center;
}

.computer-hand {
  width: 250px;

}

.user-hand {
  width: 250px;
  transform: rotateY(180deg);
}

.button-div {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.button {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  justify-content: space-around;
  align-items: center;
  background:rgb(225, 201, 46);
  font-size: 20px;
  border: none;
  margin: 30px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.6s;
}

.button:hover{
  background-color: rgb(6, 6, 47);
  color: #fff;
}

.result{
  transition: 1s;

}

.result .restart{
  background-color: rgb(228, 254, 31);
  width: 100px;
  height: 50px;
  border-radius: 20px;
  border: none;
  margin-top: 20px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.result .restart:hover{
  background-color:red;
  color: #fff;
}

.result {
  padding: 50px;
  color: #fff;
}

@media (max-width:400px) {
  .App {
    padding: 20px;
    height: 100vh;
    overflow-y: hidden;
}

.heading {
  font-size: 40px;
  color: #fff;
  margin-bottom: 20px;
}
.score {
 gap: 60px;
 }

h1{
  font-size: 1.7em; 
}
.user-hand,.computer-hand  {
  width: 200px;
}

.result {
  padding: 0px;
  
}

.button {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  justify-content: space-around;
  align-items: center;
  background: rgb(225, 201, 46);
  font-size: 15px;
  border: none;
  margin: 15px;

  
}
  
}